{% extends "public-base.html" %}

{% block head %}
    <title>Explorer</title>
{% endblock %}

{% block content %}


  {% for item in dir_tup %}
  <div class="flx" style="flex-direction:row;">


  <form action="/explorer"  method="POST" enctype="multipart/form-data">             
    <button class="btn btn-default" style="flex-grow:1;" type="submit" name="path" value="{{ item[1] }}">
    <span class="glyphicon glyphicon-folder-open"> </span> 
      {{ item[0] }}
    </button> 
  </form>

  </div>
  {% endfor %}



</br>

  {% for item in video_tup %}
  <div class="flx"  style="flex-direction:row;">

  <div>
    <form action="/piplay" method="POST" enctype="multipart/form-data">             
      <button class="btn btn-default" type="submit" name="path" value="{{ item[1] }}">
        <span class="glyphicon glyphicon-film"></span>
        Local Stream
      </button>
    </form>
  </div>

  <div>

    <form action="/player" method="POST" enctype="multipart/form-data">             
      <button class="btn btn-default" type="submit" name="video" value="/{{ item[1] }}">
        <span class="glyphicon glyphicon-film"></span>
        Web Stream
      </button>
    </form>
  </div>

  <div style="flex-grow:1;align-self:center">{{ item[0] }}</div>


  </div>
  </br>
  {% endfor %}

</ul>




{% endblock %}
