{% extends "public-base.html" %}

{% block head %}
    <title>Video Player</title>
    <link href="/static/video-js/video-js.css" rel="stylesheet">
{% endblock %}

{% block content %}


<div>{{ video_file }}</div>

<video id="video" class="video-js vjs-default-skin video-box" 
controls preload="auto"/> 
<!-- data-setup='{"example_option":true} -->

<source src="{{ video_file }}" type='video/mp4'/>
<p class="vjs-no-js">
    To view this video please enable JavaScript, 
    and consider upgrading to a web browser that 
    supports HTML5 video
</p>
<track kind="captions" src="{{ video_file }}.vtt" srclang="en" label="English" default>
</video>

<script src="/static/video-js/video-js.js"></script>
<script>
  videojs.options.flash.swf = "/static/js/video-js.swf"
</script>
{% endblock %}
